<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-zonal-heading" jhiTranslate="projectGhApp.zonal.home.createOrEditLabel">Create or edit a Zonal</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!zonal.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="zonal.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectGhApp.zonal.zoneName" for="field_zoneName">Zone Name</label>
                    <input type="text" class="form-control" name="zoneName" id="field_zoneName"
                        [(ngModel)]="zonal.zoneName" required/>
                    <div [hidden]="!(editForm.controls.zoneName?.dirty && editForm.controls.zoneName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.zoneName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectGhApp.zonal.zoneAddress" for="field_zoneAddress">Zone Address</label>
                    <input type="text" class="form-control" name="zoneAddress" id="field_zoneAddress"
                        [(ngModel)]="zonal.zoneAddress" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectGhApp.zonal.zoneIncharge" for="field_zoneIncharge">Zone Incharge</label>
                    <input type="text" class="form-control" name="zoneIncharge" id="field_zoneIncharge"
                        [(ngModel)]="zonal.zoneIncharge" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectGhApp.zonal.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="zonal.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectGhApp.zonal.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectGhApp.zonal.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
