// Here you can add other styles
.sidebar-nav ul li {
    font-size: 12px;
}
.sidebar .nav-link {
    padding: 0.45rem 1rem;
}
.sidebar {
    background-color: black;
}

// Font sizes
.font12 {
    font-size: 12px;
}

// Font sizes
.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}
